<!--樣板-->
<% layout('gameLayout') %>


    <!--button 玩家選項-->
    <form action="/jobChoice" method="get" >

        <div class="row">
            <div class="col">
                <input type="submit" class="btn btn-primary btn-lg" value= <%= buttonValue %> > 
            </div>
        </div>

    </form>